.card-Structure img {
    width: 50px;
}
@media (min-width: 576px) {
    .card-Structure{
        position: sticky;
        top: 300px;
    }
    .card-Structure img {
        width: 10%;
    }
 }

@media (min-width: 768px) {
    .card-Structure{
        position: sticky;
        top: 300px;
    }
    .card-Structure img {
        width: 10%;
    }
}